# Python
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
build/
dist/
pip-log.txt
pip-delete-this-directory.txt
.conda
.env
.venv

# Godot
.godot/
.import/
export.cfg
export_presets.cfg
*.translation
.mono/
data_*/
mono_crash.*.json
**/*.import